- if is_post?
  %article.post

    %h1~ @page.heading

    ~ markdown(@page.body)

    - if page_author = @page.metadata('author').downcase.gsub(" ", "_").sub(".", "")
      = haml page_author.to_sym, :layout => false

    - unless @page.categories.empty?
      .page-categories
        %p
          - unless @page.date.nil?
            = "<em>#{format_date(@page.date)}</em> ~ "
          - @page.categories.each do |category|
            %a{ :href => category.abspath }= category.heading

    :plain
      <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a>
      <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
      <div class="g-plusone" data-annotation="inline" data-width="200"></div>

    #comments
      = haml :comments, :layout => false
