<% unless pages.empty? %>
  <% pages.each do |page| %>
    <article class="post">
      <% content_tag(defined?(heading) ? heading : :h2) do %>
        <a href="<%= page.path %>">
          <%= title(page) %>
        </a>
      <% end %>
      <% if page.data.date %>
        <div class="page-date">
          <%= format_date(published_date(page)) %>
        </div>
      <% end %>
      <p><%= page.data.summary %></p>
      <p class="read-more"><a href="<%= page.path %>">Continue reading&#8230;</a></p>
    </article>
  <% end %>
<% end %>
