<% wrap_layout 'page' do %>
  <article class="post">
    <%= yield %>

    <% if author %>
      <section class="author-bio">
        <h2><span>The Author,</span> <%= author.name %></h2>

        <img class="author-image" src="<%= author.avatar %>">
        
        <%= author.bio %>
      </section>
    <% end %>

    <% if false # TODO: get categories and comments working %>
    <% unless current_page.categories.empty? %>
      <div class="page-categories">
        <p>
          <% unless meta.date.nil? %>
            <%= "<em>#{format_date(current_page.date.nil?)}</em> ~ " %>
          <% end %>
          <% current_page.categories.each do |category| %>
            <a href="<%= category.abspath %>"><%= category.heading %></a>
          <% end %>
        </p>
      </div>
    <% end %>
      
    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <div class="g-plusone" data-annotation="inline" data-width="200"></div>

    <div id="comments">
      <%= partial 'layouts/comments' %>
    </div>
    <% end %>
  </article>
<% end %>
