<% wrap_layout 'layout' do %>
  <article class="article">
    <%= partial "headers/_#{header}" if header %>
    <div class="row">
      <div class="large-10 large-offset-1 columns typeset">
        <% if header %>
          <%= body_without_title %>
        <% else %>
          <%= yield %>
        <% end %>

        <% unless meta.categories.empty? %>
          <div class="article-categories">
            <p>
              <% unless meta.date.nil? %>
                <%= format_date(meta.date) %> ~
              <% end %>
              <%=
                meta.categories.split(/\s*,\s*/).map { |slug|
                  c = category(slug)
                  %{<a href="/#{c.slug}">#{c.name}</a>}
                }.join(', ')
                %><% if author %><% author(current_page, true).each do |person| %>,
                <a href="/<%= person.slug %>"><%= person.name %></a><% end %><% end %>
            </p>
          </div>
        <% end %>

        <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a>
        <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        <div class="g-plusone" data-annotation="inline" data-width="200"></div>
      </div>
    </div>

    <% if author %>
      <% author(current_page, true).each do |person| %>
      <div class="row article-author">
        <div class="small-2 large-offset-1 columns">
          <img class="avatar full-width" src="<%= person.avatar %>">
        </div>
        <div class="small-8 columns typeset ">
          <h2 class="mt0"><%= person.name %></h2>
          <div class="fine-print"><%= person.bio %></div>
        </div>
      </div>
      <% end %>
    <% end %>

    <div class="row article-comments">
      <div class="large-10 large-offset-1 columns">
        <%= partial 'layouts/disqus' %>
      </div>
    </div>
  </article>
<% end %>
