<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <% if meta.description %><meta name="description" content="<%= meta.description %>" ><% end %>
    <% if meta.keywords %><meta name="keywords" content="<%= meta.keywords %>" ><% end %>

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= title || "The Sass Way" %></title>

    <!-- Stylesheets -->
    <%= stylesheet_link_tag "master" %>

    <!-- Favicon -->
    <link href="/sass-icon.ico" rel="shortcut icon">

    <!-- Atom feed -->
    <link href="http://feeds.feedburner.com/thesassway" rel="alternate" type="application/atom+xml">

    <!-- Google fonts -->
    <link href="http://fonts.googleapis.com/css?family=Lora:400italic,700italic,400,700|Source+Sans+Pro:400italic,700italic,400,700|Source+Code+Pro" rel="stylesheet" type="text/css">
  </head>
  <body>

    <header class="site-header" role="banner">
      <nav role="navigation" aria-label="main navigation">
        <div class="row">
          <div class="medium-10 small-centered columns">
            <ul class="site-nav">
              <li class="site-nav-item"><a class="site-nav-link" href="/beginner">Beginner</a></li>
              <li class="site-nav-item"><a class="site-nav-link" href="/intermediate">Intermediate</a></li>
              <li class="site-nav-item"><a class="site-nav-link" href="/advanced">Advanced</a></li>
              <li class="site-nav-item"><a class="site-nav-link" href="/articles">Articles</a></li>
              <li class="site-nav-item"><a class="site-nav-link" href="/news">News</a></li>
              <li class="site-nav-item"><a class="site-nav-link" href="/projects">Projects</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <section class="site-content" role="main">
      <%= yield %>
    </section>

    <footer class="site-footer reversed">
      <div class="row">
        <section class="small-12 large-5 columns typeset">
          <h3 class="mt1 mb0"><a href="/"><%= image_tag 'thesassway-small.svg', class: "text-middle", alt: "The Sass Way" %></a></h3>
          <p>
            <em>The Sass Way</em> covers the latest news and topics on handcrafting CSS with <a href="http://sass-lang.com">Sass</a> and <a href="http://compass-style.org">Compass</a>.
            We use an open publishing model and rely on contributions from the Sass community via our <a href="http://github.com/thesassway/thesassway.com">GitHub project</a>.
            Send us a pull request!
          </p>

          <p><a href="/contact">Contact us</a> to send us your Sass news or to suggest new content for us to write about.</p>

          <ul>
            <li><a href="http://feeds.feedburner.com/thesassway">RSS</a></li>
            <li><a href="http://twitter.com/TheSassWay">Twitter</a></li>
            <li><a href="http://facebook.com/thesassway">Facebook</a></li>
            <li><a href="http://github.com/thesassway">GitHub</a></li>
          </ul>
        </section>

        <section class="small-4 large-2 large-offset-1 columns typeset">
          <h3 class="h5">Contributors</h3>
          <ul>
            <% for contributor in authors %> 
              <li><a href="/<%= contributor.slug %>"><%= contributor.name %></a></li>
            <% end %>
          </ul>
        </section>

        <section class="small-4 large-2 columns typeset">
          <h3 class="h5">Categories</h3>
          <ul>
            <li><a href="/guides">Guides</a></li>
            <li><a href="/beginner">Beginner</a></li>
            <li><a href="/intermediate">Intermediate</a></li>
            <li><a href="/advanced">Advanced</a></li>
            <li><a href="/articles">Articles</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/projects">Projects</a></li>
          </ul>
        </section>

        <section class="small-4 large-2 columns typeset">
          <h3 class="h5">Made with</h3>
          <ul>
            <li><a href="https://github.com/thesassway">GitHub</a></li>
            <li><a href="http://middlemanapp.com">Middleman</a></li>
            <li><a href="http://heroku.com/">Heroku</a></li>
            <li><a href="http://sass-lang.com/">Sass</a></li>
            <li><a href="http://compass-style.org/">Compass</a></li>
          </ul>
        </section>

        <section class="large-12 columns typeset text-center">
          <p>&copy; 2010-<%= Time.now.year%> The Sass Way. All rights reserved. Articles copyright The Sass Way and individual authors.</p>
          <p>The Sass Way is a <a href="http://riznmedia.com/">Rizn Media</a> production.</p>

          <%= partial 'layouts/fusion_ads' %>
        </section>
      </div>
    </footer>

    <%= javascript_include_tag  "all" %>
    <%= partial 'layouts/javascripts' %>
  </body>
</html>
