<% wrap_layout 'page' do %>
  <article class="post">
    <h1><%= current_page.data.heading %></h1>

    <%= yield %>

    <% if page_author = current_page.data.author %>
      <%= partial 'shared/' + page_author.downcase.gsub(" ", "_").sub(".", "") %>
    <% end %>

    <% unless current_page.categories.empty? %>
      <div class="page-categories">
        <p>
          <% unless current_page.data.date.nil? %>
            <%= "<em>#{format_date(current_page.date.nil?)}</em> ~ " %>
          <% end %>
          <% current_page.categories.each do |category| %>
            <a href="<%= category.abspath %>"><%= category.heading %></a>
          <% end %>
        </p>
      </div>
    <% end %>
      
    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <div class="g-plusone" data-annotation="inline" data-width="200"></div>

    <div id="comments">
      <%= partial 'comments' %>
    </div>
  </article>
<% end %>
