- @page_role = 'article' if @page.date

.primary.column
  .content
    = haml :summaries, :layout => false, :locals => { :pages => @page.pages, :heading => :h3 }

    - if @page.date
      %article.post
        ~ @page.to_html(self)
        - if author_block = @page.metadata('about_author')
          = haml author_block.to_sym, :layout => false
        - unless @page.categories.empty?
          .page-categories
            %p
              - unless @page.date.nil?
                = "<em>#{format_date(@page.date)}</em> ~ "
              Editorial indexes:
              - @page.categories.each do |category|
                %a{ :href => category.abspath }= category.heading
          = haml :comments, :layout => false

    - else
      ~ @page.to_html(self)

    - unless @page.articles.empty?
      %section.page-articles
        %header
          %h2= "Posts in '#{@page.heading}'"
        = haml :summaries, :layout => false, :locals => { :pages => @page.articles, :heading => :h3 }

= haml :sidebar, :layout => false
