- @page_role = 'article' if @page.date

.primary.column
  .content
    = haml :summaries, :layout => false, :locals => { :pages => @page.pages, :heading => :h3 }

    - if @page.date
      %article.post
        ~ @page.to_html(self)
        - if author_block = @page.metadata('about_author')
          = haml author_block.to_sym, :layout => false
        - unless @page.categories.empty?
          .page-categories
            %p
              - unless @page.date.nil?
                = "<em>#{format_date(@page.date)}</em> ~ "
              Editorial indexes:
              - @page.categories.each do |category|
                %a{ :href => category.abspath }= category.heading
        :plain
          <!-- Twitter button -->
          <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a>
          <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
          <!-- +1 button -->
          <div class="g-plusone" data-annotation="inline"></div>
          <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=146787355413240&amp;xfbml=1"></script><fb:like href="" send="true" layout="button_count" width="200" show_faces="false" font="arial"></fb:like>
        - unless @page.categories.empty?
          = haml :comments, :layout => false

    - else
      ~ @page.to_html(self)

    - unless @page.articles.empty?
      %section.page-articles
        %header
          %h2= "Posts in '#{@page.heading}'"
        = haml :summaries, :layout => false, :locals => { :pages => @page.articles, :heading => :h3 }

= haml :sidebar, :layout => false
