---
layout: layout
---

<div class="row">
  <div class="large-10 large-offset-1 columns typeset">
    <h1><%= category.name %></h1>

    <h2><%= category.subtitle %></h2>

    <%= category.description %>

    <p>If you have questions or suggestions, please <a href="/contact">contact us</a> to let us know!</p>
  </div>
</div>

<% if category.superset %>
  <% pages = articles_for(category.superset.split(/\s*,\s*/)) %>
  <%= partial 'layouts/summaries', :locals => { :pages => pages, :heading => :h3 } %>
<% else %>
  <%= partial 'layouts/summaries', :locals => { :pages => children, :heading => :h3 } %>
<% end %>
